build/
build-*/
cmake-build-*/

install/
install-*/

results/
global_results/
raw/
plots/
reports/
summaries/
bsd-sockets-v/
csv/

*.json
*.csv
*.pdf
*.png
*.zip
*.rar
*.bin
*.dat
*.log

*.o
*.a
*.so
*.dylib
*.exe

__pycache__/
*.pyc